<h1 class="mt-4">Send coin</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Send coin to another wallet</li>
</ol>
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div id="result"></div>
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Send coin</h3>
            </div>
            <div class="card-body">
                <form id="send-coin-form" method="post" action="/transaction">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="recipient" type="text" name="recipient"
                            placeholder="Enter address" required />
                        <label for="recipient">To address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="amount" type="number" placeholder="amount" name="amount"
                            required />
                        <label for="amount">Amount</label>
                    </div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid"><button class="btn btn-primary btn-block" id="create-wallet"
                                type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <h3 class="font-weight-light">Wallet Balance: {{myWallet.balance}}</h3>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/sendcoin.js"></script>